@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/typography.scss';
@import '../../styles/breakpoints.scss';

.service {
  display: flex;
  flex-direction: column;
}

.service__header {
  margin-top: space(16);
  margin-bottom: space(64);

  @include for-tablet-landscape-down {
    margin-top: space(8);
    margin-bottom: space(48);
  }

  @include for-phone-only {
    margin-top: 0;
    margin-bottom: space(40);
  }
}

.service__header__logo {
  width: 154px;
  height: 154px;
  margin: 0 space(40) space(40) 0;
  border-radius: 40px;
  box-sizing: content-box;
  overflow: hidden;

  @include for-tablet-landscape-down {
    width: 120px;
    height: 120px;
    margin: 0 space(24) space(24) 0;
  }

  @include for-phone-only {
    width: 80px;
    height: 80px;
    margin: 0 space(16) space(16) 0;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.service__header__label {
  @include heading-xs;
  margin-bottom: space(8);
}

.service__header__heading {
  @include heading-xl;
  margin-bottom: space(8);
  
}

.service__header__description {
  font-size: pxtorem(20);
  margin-bottom: space(16);

  @include for-phone-only {
    font-size: pxtorem(18);
  }
}

.service__header__description__link {
  font-size: pxtorem(20);
  font-weight: 700;

  @include for-phone-only {
    font-size: pxtorem(18);
  }
}

.service__header__actions {
  display: flex;
  justify-content: flex-start;

  @include for-phone-only {
    flex-wrap: wrap;
  }

  .button {
    margin-right: space(40);

    @include for-tablet-landscape-down {
      margin-right: space(24);
    }

    @include for-phone-only {
      width: 100%;
      margin-bottom: space(16);
      margin-right: 0;
      justify-content: center;
    }
  }
}

.service__info {
  padding: space(64) 0;
  background-color: $botticelli;

  @include for-tablet-landscape-down {
    padding: space(48) 0 space(80) 0;
  }

  @include for-phone-only {
    padding: space(40) 0 space(56) 0;
  }

  > .flex-container {
    flex-wrap: nowrap;

    @include for-tablet-landscape-down {
      flex-wrap: wrap;
    }
  }
}

.service__info__content {
  padding-right: space(72);

  @include for-tablet-landscape-down {
    padding-right: 0;
  }
}

.service__sidebar {
  max-width: 435px;

  @include for-tablet-landscape-down {
    width: 100%;
    max-width: 100%;
  }

  @include for-phone-only {
    margin-top: space(48);
  }
}

.service__section {
  margin-bottom: space(56);
  width: 100%;

  @include for-tablet-landscape-down {
    margin-bottom: space(32);
  }

  @include for-phone-only {
    margin-bottom: space(24);
  }
}

.react-player__preview {
  background-color: $white;
}

.react-player__shadow {
  background-color: $mona-lisa !important;
}

.service__markdown {
  &--intro {
    border-left: 10px solid $black;
    padding: space(16) 0 space(16) space(20);
    

    @media(min-width: 601px) {
      margin-bottom: space(40);
    }

    p {
      @include body-l;
      margin-bottom: 0 !important;
      font-size: pxtorem(22px) !important;
    }

    ul {
      list-style-type: none;
    }

    ul li {
      &:before {
        content: '•';
        margin: 0 pxtorem(4px);
        color: $mona-lisa;
      }
    }

    li > p {
      display: inline;
      hyphens: auto;
    }

    li {
      font-family: $font-primary;
    }
  }

  &--description {
    word-break: break-word;

    @media(max-width: 600px) {
      margin-top: space(32);
    }

    li > p {
      display: inline;
      hyphens: auto;
    }

    &--tight {
      @include for-tablet-portrait-up {
        p {
          &:first-of-type {
            margin-top: space(24);
          }
        }
      }
    }
  }

  a {
    font-size: inherit;
  }
}

.service__accordian {
  margin-bottom: space(24);
  padding: space(24) space(12);
  width: 100%;
  background-color: $white;
  border-radius: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  button {
    width: 100%;
  }
}

.service__button-container {
  justify-content: flex-start !important;
  padding: space(32) 0 space(24) !important;

  @include for-tablet-landscape-down {
    padding: space(32) space(16) space(24) !important;

    svg {
      display: none;
    }
  }

  &--mobile {
    @include for-phone-only {
      margin-bottom: space(16) !important;
      text-align: center;
    }

    .button:first-child {
      margin-right: space(12);
    }
  }

  .button {
    width: 100%;
  }
}

.service__accordian-inner {
  font-size: $font-body-m;
  padding: space(16) !important;

  a {
    font-size: $font-body-m;
  }
}

.service__social-icon {
  margin: 0 space(12);
}

.service__social-icon-container {
  text-align: center;
}

.service__testimonial {
  padding: space(40);
  background-color: $peach;
  border-radius: 40px;

  @include for-tablet-landscape-down {
    padding: space(32);
  }

  @include for-phone-only {
    padding: space(24);
  }
}

.service__criteria {
  padding: 0 !important;
}

.service__media {
  margin: 0 !important;
}

.service__organisation {
  text-align: center;

  &--logo {
    margin-bottom: space(12) !important;
  }

  &--sidebar {
    background-color: $white;
    padding: space(20) !important;
  }
}

.service__information {
  padding: 0 !important; 
}

.service__information, .service__markdown:not(.service__markdown--intro) {
  h2, h3, .service__heading {
    margin-left: 0 !important;
    margin-bottom: space(10);
  }

  h3 {
    @include for-phone-only {
      font-size: $font-body-l;
    }
  }

  p {
    @include body-m;
  }

  p, ul {
    margin-bottom: space(24);

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    padding-left: space(20);
    list-style-position: outside;

    li {
      @include body-m;

      &:not(:last-child) {
        margin-bottom: space(12);
      }
    }
  } 
}

.service__offerings {
  display: flex;
  align-items: center;
  margin-bottom: space(16) !important;
  font-family: $font-primary;

  @include for-phone-only {
    margin-top: space(8);
    margin-bottom: 0 !important;
  }
}

.service__heading {
  margin-bottom: space(24);

  @include for-phone-only {
    margin-bottom: space(16);
  }
}

.service__gallery {
  padding: 0 !important;
  width: 100%;
  margin: 0 !important;
}

.criteria-cards {
  width: 100%;
}

.service {
  &__action-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.3rem 0.5rem;
    width: 100%;

    & > button {
      flex: 1;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      min-width: 100%;
      
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      @media(min-width: 524px) and (max-width: 860px) {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        min-width: auto;
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

      @media(min-width: 861px) and (max-width: 900px) {
        font-size: 1rem;
      }
    }
  }
}