@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/typography.scss';

.search-result-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: space(20);
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: $white;
  color: $black;
  cursor: pointer;

  &.is-active,
  &:hover {
    border-color: $black;
  }
}

.search-result-card--full-width {
  width: 100%;
  margin: 0;
}

.search-result-card__title {
  flex: 1;
  padding-right: space(16);
}

.search-result-card__organisation {
  @include body-m;
  font-weight: normal;
  margin-top: space(8);

  @include for-phone-only {
    margin: space(8) 0 space(16) 0;
  }
}

.search-result-card__logo {
  width: pxtorem(62);
  height: pxtorem(62);
  background-color: $gray;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.search-result-card__top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: space(12);
}

.search-result-card__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: space(8);
}

.search-result-card__tag {
  margin-right: space(8);
  margin-bottom: space(8);
  padding: space(4) space(8);
  @include body-s;
  font-size: pxtorem(12);
  font-weight: 600;
  background-color: $casablanca;
  color: $black;
  border-radius: 4px;
}

.search-result-card__tag--icon {
  font-size: pxtorem(12);
  margin-right: space(4);
}

.search-result-card__location {
  display: flex;
  align-items: center;
  margin-bottom: space(12);

  > svg {
    margin-right: space(8);
  }

  h4 {
    margin-left: space(8);
    font-size: $font-body-regular;
  }
}

.search-result-card__location-list {
  margin-left: space(8);

  button {
    cursor: pointer;
    @include link-medium;
    border: none;
    background: none;
  }

  h4 {
    display: inline;
    margin-left: 0;
  }
}

.search-result-card__intro {
  align-self: flex-start;
  margin-bottom: space(12);
}

.search-result-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-self: flex-end;

  a {
    display: flex;
    align-items: center;
    @include heading-xs;
    text-decoration: underline;
  }

  svg {
    font-size: pxtorem(24px);
    margin-left: space(12);
  }
}

.search-result-card__contact {
  display: flex;
  flex-direction: column;
  margin-top: space(32);
  margin-bottom: space(16);

  > .flex-col {
    margin-bottom: space(16);
  }
}

.search-result-card__contact-heading {
  @include heading-xs;
  margin-bottom: space(8);
}