@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/breakpoints.scss';

.related-services {
  background-color: $bermuda;
  padding: space(56) 0 space(96) 0;

  @include for-tablet-landscape-down {
    padding: space(32) 0 space(48);
  }
}

.related-services__header {
  flex-wrap: nowrap;
  margin-bottom: space(48);

  @include for-tablet-landscape-down {
    margin-bottom: space(32);
  }

  @include for-phone-only {
    flex-wrap: wrap;
  }

  .button {
    flex: none;
  }
}

.related-services__items {
  display: grid;
  gap: space(32);
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @include for-tablet-landscape-down {
    gap: space(24);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include for-phone-only {
    gap: space(16);
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
