@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';

.landing-page__overview {
  padding: space(40) 0;
}

.landing-page__heading {
  margin-bottom: space(32);
  @include heading-xl;
}

.landing-page__content {
  margin-bottom: space(48);

  p {
    @include body-l;
  }
}

.landing-page__image {
  margin-bottom: space(32);
  border-radius: 40px;
}

.landing-page__intro,
.landing-page__about {
  padding-right: space(40);
}