@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';

.input {
  @include body-m;
  width: 400px;
  padding: space(16) space(20);
  color: $black;
  border: 1px solid $black;
  border-radius: 4px;
  font-size: pxtorem(18);
  transition: box-shadow $formControlTransitionDuration ease-in-out;

  &:focus, &:active {
    outline: 0;
    box-shadow: 0 0 0pt $formControlOutlineWidth $cerulean-blue;
  }

  @include for-phone-only {
    width: 100%;
  }

  &--container {
    display: inline-block;
    margin: space(24) 0;
  }

  &--error {
    display: block;
    border-left: 2px solid $error;
    padding-left: space(16);
  }

  &__autocomplete {
    @include for-mobile-up {
      padding-right: 6rem;
    }
    
    &:disabled {
      background-color: #f3f3f3;
      border: 1px solid #fff;
    }
  }
}

.input--full-width {
  width: 100%;
}

.input__error-message {
  display: none;
  position: relative;

  &--show {
    display: inline-block;
    color: $error;
    margin-top: space(8);
  }
}

input:invalid {
  &:after {
    content: 'I';
    position: absolute;
    top: 0;
  }
}
