@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/typography.scss';

@mixin disabled-btn {
  &:disabled {
    color: $gray;
    background-color: inherit;
    border: 2px solid $gray;
    opacity: 0.75;
  }
}

@mixin disabled-btn-hover {
  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
    border: 2px solid $gray;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  padding: space(10);
  font-size: pxtorem(20);
  line-height: pxtorem(20);
  background-color: $black;
  color: $white;
  border: 3px solid $black;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all $formControlTransitionDuration ease-in-out;

  @include for-tablet-landscape-down {
    padding: space(8) space(10);
    font-size: pxtorem(18);
  }

  @include for-phone-only {
    padding: space(6) space(8);
    font-size: pxtorem(16);
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
  }

  &:focus, &:active {
    outline: 0;
    box-shadow: 0 0 0pt $formControlOutlineWidth $cerulean-blue;
  }

  &:disabled {
    background-color: $periwinkle-gray;
    color: #fff;
    opacity: 0.75;
  }

  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
  }

  &--alt {
    background-color: transparent;
    color: $black;
  }
}

.button__icon {
  margin-left: space(10);
}

.button__category {
  padding: space(24);
  background-color: $white;
  color: $black;
  border-color: transparent;
  border-radius: 40px;
  @include heading-s;
  text-align: left;

  &:hover {
    border-color: $black;
    box-shadow: none;
  }
}
