@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/typography.scss';
@import '../../styles/breakpoints.scss';

.organisation__social-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 30px));
  gap: space(8);
  list-style: none;
  padding: 0;
  margin: 0;
}

.organisation__header {
  padding: space(40) 0;

  @include for-phone-only {
    padding: space(32) 0 space(16);
  }

  h1 {
    margin-bottom: space(24);

    @include for-tablet-portrait-down {
      font-size: pxtorem(32px);
      line-height: space(40);
    }

    @include for-phone-only {
      font-size: pxtorem(24px);
      line-height: space(32);
      margin-bottom: space(16);
    }
  }
}

.organisation__header__sub {
  @include heading-xs;
  display: block;
  margin-bottom: space(8);

  @include for-tablet-portrait-down {
    font-size: pxtorem(16px)
  }
}

.organisation__header__logo {
  flex: 0 0 calc(100% - 75%);
  height: 154px;
  margin-right: space(40);
  margin-bottom: space(16);
  border-radius: 20px;
  overflow: hidden;
  max-width: 154px;
  background-color: #ffffff;

  @include for-phone-only {
    height: 110px;
    margin-right: 0;
    max-width: 100%;

    @media(min-width: 426px) {
      &+div {
        padding-left: 1.5rem;
      }
    }
  }

  @media(max-width: 425px) {
    margin-bottom: space(12);
    border-radius: 12px;
    height: 130px;
    max-width: 130px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.organisation__header__contact-details {
  list-style: none;
  margin-top: space(32);
  padding: 0;

  @media(min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: space(20);
  }

  > li {
    @include body-m;
    margin: 0;

    @include for-phone-only {
      margin-bottom: space(16);
    }

    strong {
      display: block;
      font-weight: bold;
    }

    a {
      @include body-m;
      text-decoration: none;
      word-break: break-all;
    }
  }
}

.organisation__services {
  padding: space(40) 0 space(56);
  background: $botticelli;
}

.organisation__services__heading {
  margin-bottom: space(32);

  @include for-phone-only {
    margin-bottom: 0;
  }
}

.organisation__services__listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: space(20);
  width: 100%;

  @include for-tablet-portrait-down {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
}