@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.results {
  position: relative;
}

.results__wrapper {
  padding: space(48) 0 space(88);
  background-color: $botticelli;
}

.results__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: space(32);
  margin: 0 auto;
  position: relative;
  z-index: 10;

  @include for-tablet-landscape-down {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-phone-only {
    grid-template-columns: 1fr;
  }
}

.results__container--no-results {
  text-align: center;
  position: relative;
  z-index: 1;

  .results__container__heading {
    max-width: 640px;
    margin: 0 auto space(32);
  }

  > .flex-col {
    margin-bottom: space(32);
  }

  .category-list {
    padding: 0;

    > .flex-container {
      padding: 0 !important;
    }
  }
}

.results__container__category-list {
  margin-top: space(32);

  h2 {
    margin-bottom: space(16);
  }
}

.results__container-count {
  display: flex;
}

.results__search-box {
  
}

.results__info {
  margin-bottom: space(48);
}

.results__info__header {
  margin-bottom: space(16);

  @include for-phone-only {
    margin-bottom: 0;
  }
}

.results__info__count {
  @include for-tablet-portrait-down {
    flex: 0 0 100%;
    margin-bottom: space(16);
  }

  @include for-tablet-portrait-up {
    flex: 0 0 50%;
  }

  p {
    @include body-m;
  }
}

.results__search-filter {
  display: flex;
  align-items: center;
  justify-content: center;

  .input--container {
    width: auto;
  }
}

.results__search-filter-location {
  width: 208px;
  max-width: 100%;
}

.results__search-filter-location--label {
  font-size: pxtorem(20px);
  font-weight: 700;
}

/* PAGINATION */
.results__pagination {
  padding: space(24) 0;
  background-color: $bermuda;
}

.pagination {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style: none;

  @include for-phone-only {
    padding-bottom: space(56);
  }
}

.pagination__item {
  margin: 0;
  background: $black;

  &:nth-child(2) {
    padding-left: space(16);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:nth-last-child(2) {
    padding-right: space(16);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &.disabled {
    .pagination__link {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.pagination__link {
  display: block;
  padding: space(16) space(8);
  font-size: pxtorem(20);
  font-weight: 700;
  color: $white;
  text-decoration: none;

  &:hover,
  &--active {
    text-decoration: underline;
  }

  @include for-phone-only {
    padding: space(12) space(8);
    font-size: pxtorem(16);
  }
}

.pagination__nav-prev {
  margin-right: auto;
  padding: 0 space(8);
  border-radius: 4px;
  background: $white;
  color: $black;

  .pagination__link {
    color: $black;
  }

  svg {
    margin-right: space(16);

    @include for-phone-only {
      margin-right: space(8);
    }
  }

  @include for-phone-only {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.pagination__nav-next {
  margin-left: auto;
  padding: 0 space(8);
  border-radius: 4px;
  background: $white;

  .pagination__link {
    color: $black;
  }

  svg {
    margin-left: space(16);

    @include for-phone-only {
      margin-left: space(8);
    }
  }

  @include for-phone-only {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.results__filters {
  width: 100%;
  position: relative;
  margin-bottom: space(32);

  &--primary {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: space(188);

    @include for-tablet-portrait-down {
      margin-left: 0;
    }

    .results__overview-keyword & {
      margin-left: 0;
      padding: space(20);
    }

    & > div {
      padding-right: space(16);
      margin-bottom: space(32);

      @include for-phone-only {
        margin-bottom: 1.5rem;

        &:first-of-type, &:nth-child(2) {
          width: 100%;
          .input {
            width: 100%;
          }
        }
      }      
    }

    &__label {
      margin-right: space(16);
      font-size: pxtorem(20);
      font-weight: 700;

      @include for-phone-only {
        margin-right: space(12);
        font-size: pxtorem(16);
      }
    }

    select {
      max-width: 120px;
    }
  }

  &--secondary {
    border: 1px solid $black;
    border-radius: 40px;
    margin: 0 -40px;
    padding: space(20) space(40);

    @include for-tablet-landscape-down {
      margin: 0 -32px;
      padding: space(20) space(32);
    }

    @include for-phone-only {
      margin: 0;
      padding: space(20);
    }

    h3 {
      margin-bottom: space(10);
      @include for-tablet-portrait-up {
        margin-bottom: 0;
      }
    }
  }

  &--remove {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    width: 50%;
    padding-right: space(32);
    
    @include for-phone-only {
      width: 100%;
      padding-right: 0;
    }
  }

  &--group {
    margin-top: space(32);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include for-phone-only {
      margin-top: 0;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 50%;
      padding: 0 space(32) 0 0;
      margin-bottom: space(24);

      @include for-phone-only {
        width: 100%;
        padding: 0;
        margin-bottom: space(16);
      }

      label {
        @include body-m;
        font-weight: 700;
        display: block;
        margin-bottom: space(8);
      }

      .autocomplete__wrapper, select {
        width: 100%;

        @media(min-width: 1024px) {
          max-width: 260px;
        }

        @include for-desktop-up {
          max-width: 320px;
        }

        @include for-phone-only {
          max-width: 100%;
        }
      }
    }
  }

  .input--container {
    margin: 0;

    @include for-phone-only {
      width: 100%;
    }
  }

  .button {
    display: flex;
    align-items: center;
    height: 2.875rem;

    @include for-phone-only{
      margin-left: 0;
    }
  }

  .flex-col {
    @include for-phone-only {
      margin-bottom: space(16);
    }
  }

  > .flex-container {
    @include for-tablet-portrait-down {
      flex-direction: row;
    }
  }

  .results__search-box-keyword {
    width: 310px;
    max-width: 100%;
  }
}

.results__filters__show-more-button {
  display: flex;
  align-items: center;
  @include heading-xs;

  svg {
    margin-left: space(16);
  }
}

.results__filters__heading {
  @include heading-m;
  margin-bottom: space(24);
}

.results__filters__checkboxes {
  margin-top: space(16);

  @include for-phone-only {
    margin-top: 0;
  }

  .checkbox {
    margin-right: space(20);
  }
}

.results__view-filter {
  display: flex;
  align-items: center;

  @include for-phone-only {
    flex-wrap: wrap;
  }
}

.results__overview__filters--heading {
  display: block;
  margin-bottom: space(8);
  font-weight: normal;
  font-family: $font-primary;
  font-size: $font-heading-s;
  line-height: $font-heading-s;
}

.results__filter-bar {
  align-items: center;
  max-width: 1260px;

  @include for-phone-only {
    flex-direction: column-reverse;
  }

  @include for-tablet-landscape-down {
    padding: space(32) space(16) !important;
    flex-direction: column-reverse;
  }

  @include for-tablet-landscape-up {
    padding-top: space(48) !important;
    padding-bottom: space(48) !important;
  }
}

.results__sort-by-label {
  @include body-m;
  color: $black;
}

.results__sort-by {
  align-items: center;
  justify-content: flex-end;
}

.results__mobile-edit {
  text-align: right;

  button {
    @include body-regular;
  }
}

.results__overview__container {
  padding: 0 !important;

  @include for-tablet-landscape-down {
    padding-left: space(16) !important;
  }

  &--end {
    justify-content: flex-end !important;
  }
}

.results__mobile-edit {
  @include for-phone-only {
    button {
      @include body-regular;
    }
  }
}

.results__amend {
  button {
    float: right;
    font-size: pxtorem(22px);
    padding: 0 space(20) !important;
  }

  @include for-phone-only {
    button {
      font-size: pxtorem(14px);
      font-weight: normal;
      padding: 0 space(8);
      height: pxtorem(35px);
    }
  }

  @include for-tablet-portrait-down {
    padding: 0 !important;
    font-size: pxtorem(16px);
  }
}

.results__overview {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include for-tablet-portrait-down {
    padding: space(24);
  }

  @include for-phone-only {
    padding: space(16);
  }

  &--keyword {
    .results__filters--primary {
      margin: 0;
    }
  }
}

.results__overview__content {
  display: flex;
  width: 100%;
  margin-bottom: space(24);
}

.results__overview__image {
  flex: 0 0 auto;
  margin-right: space(24);
  width: 164px;
  height: 164px;
  background-color: $gray;
  border-radius: 20px;

  @include for-phone-only {
    width: 80px;
    height: 80px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.results__heading {
  padding: 0 space(64);
  margin-bottom: space(32);

  @include for-tablet-portrait-down {
    padding: 0;
    margin-bottom: space(16);
  }
}

.results__overview__edit-toggle {
  color: $fountain-blue;
  font-size: pxtorem(16px);
  border-bottom: 2px solid $fountain-blue;
}

.results__overview__edit-input {
  margin-top: pxtorem(18px);
}

.results__overview__edit-filters {
  margin-top: pxtorem(18px) !important;

  @include for-tablet-portrait-up {
    padding: 0 !important;
  }
}

.results__overview__edit-submit {
  padding-top: space(64);
  text-align: center;

  @include for-small-phone {
    padding-top: 0;
  }
}

.results__overview__edit-checkbox {
  label {
    font-size: pxtorem(19px) !important;
  }
}

.results__sort-by-container {
  @include for-tablet-landscape-up {
    text-align: right;
  }

  @include for-small-phone {
    margin-top: space(8);
  }
}

.results__info-boxes {
  padding: space(32) 0 space(48);
  background-color: $casablanca;

  @include for-tablet-landscape-down {
    padding: space(24) 0;
  }
}

.results__info-boxes__heading {
  margin-bottom: space(24);
}

.results__info-boxes__items,
.results__info-boxes__more-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: space(32);
  width: 100%;

  @include for-tablet-landscape-down {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: space(24);
  }

  @include for-phone-only {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: space(16);
  }
}

.results__info-boxes__more-items {
  width: calc(100% + 64px);
  margin: space(32) -2rem;
  padding: space(20);
  border-radius: 40px;
  background-color: $peach;
}

.results__info-boxes__show-more {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: space(40);
}

.info-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: space(16);
  list-style: none;
  margin-top: space(32);

  @include for-small-mobile-up {
    
  }
  @include for-tablet-portrait-up {
    grid-column-gap: space(24);
  }

  & > li {
    margin: 0 0 space(16);
    padding: space(16);
    border-radius: $border-radius-sm;
    background: $peach;
    text-align: left;

    @include for-tablet-portrait-up {
      margin: 0 0 space(24);
      padding: space(24);
    }

    strong {
      display: inline-block;
    }

    
  }
}