@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';
@import '../../styles/colors.scss';


.ReactModal__Overlay {
  padding: space(40);
  box-sizing: border-box;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: space(40);
  overflow: auto;
  outline: none;
  background: white;
  border-radius: 20px;
  box-sizing: border-box;
  color: $black;

  @include for-tablet-landscape-down {
    max-width: 480px;
    padding: space(24);
  }

  @include for-phone-only {
    max-width: 340px;
  }

  .flex-container {
    padding: 0 !important;
  }

  label {
    display: block;
    margin-bottom: space(8);
  }

  .input--container {
    width: 100%;
    margin: 0;
  }

  input {
    width: 100%;
    border: 2px solid $black;
  }

  textarea {
    @include body-m;
    width: 100%;
    border: 2px solid $black;
    border-radius: 4px;
    resize: none;
    height: pxtorem(260px);
    padding: space(12) !important;
  }
}

.modal__close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: space(24);
  text-align: right;

  svg {
    vertical-align: middle;
  }
}

.modal__question {
  margin-bottom: space(24);
}
