@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';

.list {
  height: 30px;
  overflow: hidden;
  padding: revert;
  list-style-type: none;
  padding-left: 1rem;
  font-size: pxtorem(18);
  font-weight: 700;

  li {
    margin: 0;
    font-size: pxtorem(18);
    line-height: pxtorem(30);
    font-weight: 700;
    padding: 5px 0 5px 20px;
    text-indent: -25px;
  }

  > li::before {
    content: '[+] ';
  }

  li::marker {
    display: inline-block;
  }

  &.open {
    height: auto;
    > li::before {
      content: '[-] ';
    }
  }

  .leaf {
    padding-left: 1.4rem;
    font-weight: normal;
    a {
      font-size: 1.2rem;
    }
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    a:active, a:focus {
      box-shadow: none;
    }
    &.currentPage > a {
      font-weight: 700;
    }
    &.currentPage > a:hover {
      text-decoration: none;
    }
  }
  ul > li.leaf {
    padding-left: 2.8rem;
  }
}

.list-recursive__wrapper {
  margin: 2rem 0 2rem -1rem;
}
