@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.criteria-card {
  width: 100%;
  margin-bottom: space(32);
  padding: space(20);
  background-color: $white;
  border-radius: 20px;

  @include for-tablet-portrait-down {
    margin-bottom: space(24);
    padding: space(16);
  }

  @include for-phone-only { 
    margin-bottom: space(16);
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.criteria-card-img {
  min-width: 86px;
  text-align: center;

  svg {
    width: pxtorem(36px);
  }

  @include for-phone-only {
    min-width: 64px;
  }
}

.criteria-card-title {
  font-size: pxtorem(14px) !important;
  font-weight: 900;

  @include for-tablet-landscape-up {
    margin-top: space(8);
  }
}

.criteria-card-toggle {
  text-align: right;
  padding-right: space(8);

  button {
    cursor: pointer;
  }
}

.criteria-card-content {
  
  padding-left: space(16);
  flex: 1;

  @include for-tablet-portrait-up {
    padding-left: space(20);
  }

  p {
    font-size: pxtorem(18px);

    @include for-tablet-portrait-down {
      font-size: pxtorem(16px);
    }
  }
}


.criteria-card--inner {
  padding: 0 !important;
}