$black: #000;
$white: #fff;
$periwinkle-gray: #68748f;
$gray: #E5E5E5;

$fountain-blue: #58C5AF;
$casablanca: #F9B34A;
$bermuda: #83D6C9;
$peach: #FFE3BA;
$cerulean-blue: #2B6DB3;
$mona-lisa: #FFB299;
$periwinkle-gray: #C9D9EB;
$pippin: #FFE5DC;
$link-water: #F4F8FC;
$botticelli: #D5E2ED;
