@import './reset.scss';
@import './mixins.scss';
@import './breakpoints.scss';
@import './typography.scss';
@import './colors.scss';
@import './grid.scss';
@import './translate.scss';
@import './leaflet.scss';
@import './variables.scss';

.flex-container {
  max-width: 1260px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  @include body-regular;
  color: inherit;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  display: list-item;
  margin: space(8) 0;
}

a {
  color: $black;
  font-weight: 700;
  cursor: pointer;

  &:focus, &:active {
    outline: 0;
    box-shadow: 0 0 0pt $formControlOutlineWidth $cerulean-blue;
  }
}

button {
  border: none;
  background: none;
}