// Google translate overrides

#google_translate_element {
  display: inline-block;
}

.goog-te-gadget-simple {
  background-color: $black;
  border-radius: 4px;
  border: none !important;
  font-size: pxtorem(20) !important;
  line-height: 2rem !important;
  height: auto !important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
  padding: 7px space(12) !important;
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;

  @include for-tablet-landscape-down {
    padding: 6px space(8) !important;
    font-size: pxtorem(16) !important;
    line-height: pxtorem(16) !important;
  }

  &:hover {
    background-color: $black;

    span .goog-te-menu-value:before,
    span .goog-te-menu-value:after {
      color: $white !important;
    }
  }
}

.goog-te-menu2 {
  max-width: 100%;
}

.goog-te-gadget-icon {
  display: none;
}

.goog-te-menu-value {
  color: $white !important;
  span {
    display: none;
  }

  span &:before {
    content: 'Translate';
    font-size: pxtorem(20) !important;
    font-weight: 400;

    @include for-tablet-landscape-down {
      font-size: pxtorem(16) !important;
    }
  }

  span &:after {
    content: '\f1ab';
    font-size: pxtorem(20) !important;
    font-family: 'Font Awesome 5 Brands', 'Font Awesome 5 Free';
    font-weight: 900;

    @include for-tablet-landscape-down {
      font-size: pxtorem(16) !important;
    }
  }
}

.relative {
  position: relative;
}