@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/breakpoints.scss';

.sidebox-card {
  height: fit-content;
  padding: space(20);
  border-radius: 20px;
  background: $white;
  color: $black;

  &:first-child {
    background-color: $black;
    color: $white;

    .sidebox-card__content a {
      color: $white;
    }
  }
}

.sidebox-card__heading {
  @include heading-s;
  margin-bottom: space(12);
}

.sidebox-card__content {
  a {
    text-decoration: underline;
  }
}