@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles//typography.scss';

.breadcrumb {
  margin-top: space(32);
  margin-bottom: space(40);

  @include for-tablet-portrait-down {
    margin-top: space(16);
    margin-bottom: space(24);
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  svg {
    margin-left: space(12);
    margin-right: space(12);
    font-size: pxtorem(12);

    @include for-phone-only {
      margin-left: space(8);
      margin-right: space(8);
    }
  }
}
