@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/breakpoints.scss';

.location {
  margin-bottom: space(24);

  &:last-of-type {
    margin-bottom: 0;
  }

  @include for-tablet-portrait-up {
    padding: space(32);
    border-radius: 40px;
    background-color: $white;
  }
}

.location__address {
  @include body-m;
}

.location__image {
  padding-right: space(32);
  text-align: center;

  img {
    width: 100%;
    height: auto;
    border: 1px solid $black;
  }

  @include for-tablet-portrait-down {
    margin-top: space(20);
  }
}

.location__accessibility {
  margin-top: space(16);
  justify-content: flex-start !important;

  svg {
    margin-right: space(12);
    height: pxtorem(32);
    width: pxtorem(32);
  }
}

.location__google-maps {
  display: flex;
  flex-wrap: wrap;
  margin-top: space(12);

  .link {
    @include body-m;
    margin-right: space(16);
    margin-bottom: space(4);
  }
}

.location__opening-times {
  margin-top: space(32);

  @include for-phone-only {
    margin-top: space(20)
  }

  &--header {
    @extend .h4;
    margin-bottom: space(8);

    svg {
      margin-right: space(10);
    }
  }

  &--list {
    p {
      @include body-m;
      margin-bottom: space(8);
    }
  }
}

.location__holiday-times {
  margin-top: space(32);
}
