@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/breakpoints.scss';

.location {
  padding: space(40);
  background-color: $white;
  border-radius: 40px;

  @include for-tablet-landscape-down {
    padding: space(32);
  }

  @include for-phone-only {
    padding: space(24);
  }
}

.location__address {
  @include body-l;
}

.location__image {
  padding-right: space(32);
  text-align: center;

  img {
    width: 100%;
    height: auto;
    border: 1px solid $black;
  }

  @include for-tablet-portrait-down {
    margin-top: space(24) !important;
  }
}

.location__accessibility {
  margin-top: space(16);
  justify-content: flex-start !important;

  svg {
    margin-right: space(12);
    height: pxtorem(32);
    width: pxtorem(32);
  }
}

.location__google-maps {
  display: flex;
  margin-top: space(12);

  .link {
    margin-right: space(16);
  }
}

.location__opening-times {
  margin-top: space(32);

  &--header {
    margin-bottom: space(8);

    svg {
      margin-right: space(10);
    }
  }

  &--list {
    p {
      @include body-l;
      margin-bottom: space(8);
    }
  }
}

.location__holiday-times {
  margin-top: space(32);
}
