@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';

select,
.select {
  @include body-m;
  width: 100%;
  max-width: 320px;
  position: relative;
  padding: space(16) space(24);
  border: 1px solid $black;
  border-radius: 4px;
  box-shadow: none;
  background-image: url('../../assets/images/icons/icon-cheveron-selection.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) 10px;
  background-color: $white;
  background-size: pxtorem(35);
  color: $black;
  -webkit-appearance: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
