@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/typography.scss';

.footer {
  padding: space(64) 0;

  @include for-phone-only {
    padding: space(32) 0;
  }
}

.footer__header {
  margin-bottom: space(20);
}

.footer__content {
  margin-bottom: space(16);
}

.footer__link {
  @include link-large;
  margin-right: space(20);
  text-decoration: underline;
}

.footer__social-links {
  margin-bottom: space(20);

  > .footer__link {
    @include heading-s;
  }
}

.footer__contact-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > .footer__link {
    margin-bottom: space(12);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer__members {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  margin-top: space(32);
  max-width: 140px;
  height: auto;

  @include for-phone-only {
    max-width: 90px;
  }
}