@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.service__share-card {
  padding: space(40) space(24);
  background-color: $casablanca;
  border-radius: 20px;

  @include for-tablet-landscape-down {
    padding: space(32) space(16);
  }

  @include for-phone-only {
    padding: space(16);
  }
}

.service__share-card__social {
  margin-bottom: space(32);

  p {
    margin-right: space(48);
    font-size: pxtorem(24);
  }

  a {
    margin-right: space(24);
    font-size: pxtorem(24);
  }
}

.service__share-card__actions {
  display: flex;
  justify-content: space-between;
  
  .button {
    margin-right: space(20);
  }
}