@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.service__share-card {
  padding: space(40) space(24);
  background-color: $casablanca;
  border-radius: 20px;

  @include for-tablet-landscape-down {
    padding: space(32) space(16);
  }

  @include for-phone-only {
    padding: space(20);
  }
}

.service__share-card__social {
  margin-bottom: space(32);

  @include for-tablet-landscape-down {
    margin-bottom: space(24);
  }

  @include for-phone-only {
    margin-bottom: space(16);
  }

  h2 {
    margin-right: space(48);
    font-size: pxtorem(24);

    @include for-tablet-landscape-down {
      margin-right: space(32);
      font-size: pxtorem(20);
    }

    @include for-phone-only {
      margin-right: space(24);
      font-size: pxtorem(18);
    }
  }

  a {
    margin-right: space(24);
    font-size: pxtorem(24);

    @include for-tablet-landscape-down {
      margin-right: space(16);
      font-size: pxtorem(20);
    }

    @include for-phone-only {
      margin-right: space(12);
      font-size: pxtorem(18);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.service__share-card__actions {
  display: flex;
  justify-content: flex-start;
  
  .button {
    margin-right: space(20);

    @include for-tablet-landscape-down {
      margin-right: space(16);
    }

    @include for-phone-only {
      margin-right: space(12);
    }
  }
}