@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.service__referral {
  background-color: $white;
  padding: space(32);
  border-radius: 20px;

  @include for-tablet-landscape-down {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    text-align: center;

    > .flex-col {
      margin-bottom: space(12);
    }
  }
  
  .button {
    @include for-tablet-portrait-up {
      margin-bottom: space(24);
    }
  }
}

.service__refer-disclaimer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  @include for-tablet-landscape-down {    
    justify-content: center;
  }

  svg {
    margin-right: space(12);
  }
}