@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.service__referral {
  background-color: $white;
  padding: space(32);
  border-radius: 20px;
}