@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/breakpoints.scss';

.service__map {
  height: 320px;
  border-radius: 20px;
  overflow: hidden;

  @include for-tablet-portrait-down {
    padding: 0;
  }

  .leaflet-container {
    min-height: 100%;
  }
}