@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';
@import '../../styles/breakpoints.scss';

.banner {
  position: relative;
  z-index: 11;
  background-color: $link-water;

  &__content {
    max-width: 908px;
    margin: 0 auto;
    padding: space(88) 0 0;

    @include for-tablet-portrait-down {
      padding: space(64) 0 space(48);
    }

    @include for-phone-only {
      padding: space(40) space(16) space(24);
    }
  }

  &__title {
    margin-bottom: space(24);

    @include for-tablet-portrait-down {
      margin-bottom: space(16);
    }
  }

  &__description {
    p {
      @include body-xl;
    }
  }

  &__cta {
    margin-top: space(24);
  }

  &__image {
    display: flex;
    justify-content: center;
    padding-right: space(80);
    transform: translateX(-20px) translateY(24px);

    @include for-tablet-landscape-down {
      transform: translateX(-20px) translateY(18px);
    }

    @include for-phone-only {
      padding-right: 0;
      transform: translateX(-20px) translateY(12px);
    }

    img {
      max-width: 100%;
    }
  }

  &__carousel {
    position: relative;
    width: 100%;
    margin-bottom: space(40);
    padding: space(16);

    @include for-tablet-landscape-down {
      margin-top: space(32);
      margin-bottom: space(16);
    }

    .slide {
      position: relative;
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: space(32) space(64);
      border-radius: 20px;
      background-color: $white;

      @include for-tablet-landscape-down {
        flex-wrap: wrap;
        padding: space(32);
      }

      &--active {
        display: flex;
      }

      .image {
        position: absolute;
        bottom: calc(100% - 32px);
        right: 10%;
        max-width: 160px;
        height: auto;

        @include for-tablet-landscape-down {
          max-width: 100px;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .content {
        max-width: 585px;
        margin-bottom: space(24);
        box-sizing: border-box;

        @include for-tablet-portrait-up {
          margin: 0;
          padding-right: space(32);
        }
      }

      .title {
        @include heading-m;
        margin-bottom: space(16);
      }
    }

    .arrows {
      @include for-tablet-landscape-down {
        display: flex;
        justify-content: flex-end;
        margin-top: space(16);
      }
    }

    .arrow {
      width: 54px;
      height: 54px;
      padding: space(16);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      cursor: pointer;

      @include for-desktop-up {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 62px;
        height: 62px;
      }

      &-left {
        left: -72px;
      }

      &-right {
        right: -72px;

        @include for-tablet-landscape-down {
          margin-left: space(16);
        }
      }

      &:not(:disabled) {
        background-color: $white;
      }
    }
  }
}
